<div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>You're logged in with Angular 8 & JWT!!</p>
        <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
        <p>This page can be accessed by <u>all authenticated users</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>



  <kendo-chart>


    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="categories">
        <kendo-chart-category-axis-item-labels color="#0a0">
        </kendo-chart-category-axis-item-labels>
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item  [data]="seriesData"  type="line"
                                [labels]="seriesLabels" >
        <kendo-chart-series-item-labels [visual]="labelVisual">
        </kendo-chart-series-item-labels>
<!--        <kendo-chart-series-item-labels [content]="labelContent">-->
<!--        </kendo-chart-series-item-labels>-->
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>



  <kendo-grid [data]="gridData" [height]="410">
    <kendo-grid-column field="ProductID" title="ID" width="40">
    </kendo-grid-column>
    <kendo-grid-column field="ProductName" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="Category.CategoryName" title="Category">
    </kendo-grid-column>
    <kendo-grid-column field="UnitPrice" title="Price" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
